---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
   <div class="container">
       
    {% include sidebar.html %}

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->   
        <div id="main">

             {% include header.html %}
                    <div class="page-content">
                        <div class="wrapper">


                            <h1 class="page-heading">Posts</h1>

                            {{ content }}

                            <ul class="post-list">
                                <!--
                                    Here is the main paginator logic called.
                                    All calls to site.posts should be replaced by paginator.posts
                                -->
                                {% for post in paginator.posts %}
                                <li>
                                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                                    <h2>
                                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                                    </h2>
                                </li>
                                {% endfor %}
                            </ul>

                            <!--
                              Showing buttons to move to the next and to the previous list of posts (pager buttons).
                            -->
                            {% if paginator.total_pages > 1 %}
                            <ul class="pager">
                                {% if paginator.previous_page %}
                                <li class="previous">
                                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
                                </li>
                                {% endif %}
                                {% if paginator.next_page %}
                                <li class="next">
                                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}


                        </div>
                    {% include footer.html %}
                    </div>
                {% if site.analytics %}
                    {% include analytics.html %}
                {% endif %}  
        </div>
        
        
        
        
        
<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
</script>
        
        
</div>            
        
</body>
</html>
